<div class="">

  <div class="text-center my-3">
    <%= form_tag movements_path, method: :get do %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "search", class: "btn btn-secondary" %>
    <% end %>
  </div>
  
  <div class="row text-center justify-content-center my-3">
    <div class="col-8">
     <h2 class="title index-quote">Movements Follow-up</h1>
     <p>Keep it coming!</p>
    </div>
  </div>

  <div class="timeline mb-5">
    <div class="timeline-header">Your timeline</div>
    <% @movements.reverse.each do |movement| %>
      <p>    
        <%= "Doo Doo at #{movement.created_at}" %>
        <br>
        <%= image_tag movement.img_url, class: "dashboards_movement_img my-1" %>
        <br>
        <%= link_to "Check it out", "/movements/#{movement.id}", class: "btn text-center" %>
      </p>    
    <% end %>
    <div class="timeline-footer">See you next time!</div>
    <br>
    <br>
  </div>

</div>
