<div class="container">
  <h2 class="title mt-5 text-center">Doo Doo Diary  <%#= "#{@movement.counter}" %> </h2>
  <div class="instructions-wrap">
    <div class="instructions">
        <h5 class="font-weight-bold mb-3"><%= "#{@movement.created_at.strftime('%a %d %b %H:%M')}" %></h2>

        <p class="title text-left">Feeling</p>
        <p class="my-2">You were feeling <%= "#{@movement.feeling}" %></p>
        <p class="title text-left">Effort & Duration</p>
        <p class="my-2"> <%= "#{@movement.effort}" %>, and the time it took was around <%= "#{@movement.duration}" %>.</p>
        <p class="title text-left">Color</p>
        <p class="my-2"> The color was <%= "#{@movement.color}" %> and the smell was <%= "#{@movement.smell}" %>.</p>
        <p class="title text-left">Shape</p>
        <div class="my-2">
          <p class="font-weight-bold text-center"><%= image_tag @movement.img_url, class: "dashboards_movement_img" %></p>
          <p class="title text-left">Hint</p>
          <p class="my-2"> Bristol stool scale - Type <%= "#{@movement.shape}" %>:</p>
          <p class="movement__hint"><%= "#{@movement.hints}" %></p>
        </div>

        <p class="title comment__field my-2">Comments: </p>
        <br>
        <p class="comment__text"> <%= "#{@movement.comments}" %></p>

        <div class="geo__bathrooms my-5">
          <%= link_to "Add movement location", new_movement_bathroom_path(@movement), class: "btn btn-block" %>

          <img class="map__box mt-3 mb-2" src="https://i.imgur.com/lmAlYDV.png" alt="map_example">
          <p class="title mt-1">Bat Cave</p>
          <p class="mt-1">Far far Away, 3, Almada</p>
          <p class="movement__hint">My precious! Safe place, paradise place!</p>
        </div>

        <%= link_to "Return", movements_path, class: "btn-block btn" %>
    
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
