<div class="container">
  <h2 class="mt-5">Doo Doo Diary # <%= "#{@movement.id}" %> </h2>
  <div class="movement-report">
      <h5 class="font-weight-bold">Everything happened at: <br> <%= "#{@movement.created_at}" %></h2>
  
      <p class="my-4">It seems you were feeling <%= "#{@movement.feeling}" %> about it.</p>
  
      <p class="my-4"> <%= "#{@movement.effort}" %>, and the time it took was around <%= "#{@movement.duration}" %>.</p> 
  
      <p class="my-4"> It's color was <%= "#{@movement.color}" %> and smelled like it was <%= "#{@movement.smell}" %>.</p> 
   
 
      <p class="my-4"> In the Bristol stool scale it was a <%= "#{@movement.shape}" %>.</p>

      <div class="my-4">
        <p class="font-weight-bold"><%= image_tag @movement.img_url, class: "dashboards_movement_img" %> HINT: . . .</p>        
      </div>

      <p class="my-4">Your comments: <br> <%= "#{@movement.comments}" %></p>

      <%= link_to "Return", dashboard_path, class: "btn-block btn" %>
  
  </div>
</div>
