<div class="container">
  <h2 class="title mt-5 text-center">Doo Doo Diary  <%#= "#{@movement.counter}" %> </h2>
  <div class="instructions-wrap">
    <div class="instructions">
        <h5 class="font-weight-bold mb-3"><%= "#{@movement.created_at.strftime('%a %d %b %H:%M')}" %></h2>

        <p class="title text-left">Feeling</p>
        <p class="my-2">You were feeling <%= "#{@movement.feeling}" %></p>
        <p class="title text-left">Effort & Duration</p>
        <p class="my-2"> <%= "#{@movement.effort}" %>, and the time it took was around <%= "#{@movement.duration}" %>.</p>
        <p class="title text-left">Color</p>
        <p class="my-2"> The color was <%= "#{@movement.color}" %> and the smell was <%= "#{@movement.smell}" %>.</p>
        <p class="title text-left">Shape</p>
        <div class="my-2">
          <p class="font-weight-bold text-center"><%= image_tag @movement.img_url, class: "dashboards_movement_img" %></p>
          <p class="title text-left">Hint</p>
          <p class="my-2"> Bristol stool scale - Type <%= "#{@movement.shape}" %>:</p>
          <p class="movement__hint"><%= "#{@movement.hints}" %></p>
        </div>

        <p class="title comment__field my-2">Comments: </p>
        <br>
        <p class="comment__text"> <%= "#{@movement.comments}" %></p>


        <div class="">
          <% if @movement.bathroom %>
            <p> Bathroom location: </p>
            <div id="map"
              style="width: 100%; height: 300px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
              <%= "Name: #{@movement.bathroom.name}" %>
              <%= "Address: #{@movement.bathroom.address}" %>
              <%= "Description: #{@movement.bathroom.description}" %>
              <% else %>
              <%= link_to "Add Movement Location", new_movement_bathroom_path(@movement) %>
              <% end %>
          </div>

        <%= link_to "Return", movements_path, class: "btn-block btn" %>
    
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
