<div class="container mt-3">
<h1> Add a bathroom! </h1>
  <%= simple_form_for [@movement, @bathroom] do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>

    <%= f.submit class: "btn btn-secondary btn-lg text-center" %>

  <% end %>

  <%= link_to "Return", movement_path(@movement) %>

</div>
