<div class='container'>

  <h1 class="title text-center my-5 section-user"> Welcome <%= current_user.name%>!</h1>

  <div class="profile__btns my-3">
    <!-- Button trigger modal -->
    <button type="button" class="btn-block btn my-2" data-toggle="modal" data-target="#profile__image">
      Change profile image
    </button>

    <!-- Modal -->
    <div class="modal fade" id="profile__image" tabindex="-1" role="dialog" aria-labelledby="profile__image--label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profile__image--label">Upload new profile image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Here is the cloudinary option.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-block btn">Save changes</button>
            <button type="button" class="btn-block btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn-block btn my-2" data-toggle="modal" data-target="#graphs">
      Check graphs
    </button>

    <!-- Modal -->
    <div class="modal fade" id="graphs" tabindex="-1" role="dialog" aria-labelledby="graphs--label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="title modal-title" id="graphs--label">Activity Graphs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <%#= line_chart @movements.group(:feeling).group_by_month(:created_at).count %>

              <div class="charts">
                  <p class="title text-center">Overall feelings</p>
                  <%= pie_chart @movements.group(:feeling).count, label: "Feeling" %>
                  <p class="title text-center mt-3">Overall efforts</p>
                  <%= pie_chart @movements.group(:effort).count, label: "Effort" %>
                  <p class="title text-center mt-3">Overall smell</p>
                  <%= pie_chart @movements.group(:smell).count, label: "Smell" %>
                  <p class="title text-center mt-3">Overall duration</p>
                  <%= pie_chart @movements.group(:duration).count, label: "Duration" %>
                  <%# <p class="title text-center mt-3">Overall colors</p> %>
                  <%#= pie_chart @movements.group(:color).count, label: "Color" %>
                  <p class="title text-center mt-3">Overall shapes</p>
                  <%= pie_chart({"Type 1" => @movements.where(shape: 1).count, "Type 2" => @movements.where(shape: 2).count, "Type 3" => @movements.where(shape: 3).count,"Type 4" => @movements.where(shape: 4).count,"Type 5" => @movements.where(shape: 5).count,"Type 6" => @movements.where(shape: 6).count,"Type 7" => @movements.where(shape: 7).count }) %>
                </div>
                <br>
                <br>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-block btn" btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn-block btn my-2" data-toggle="modal" data-target="#reset__diary">
      Reset diary
    </button>

    <!-- Modal -->
    <div class="modal fade" id="reset__diary" tabindex="-1" role="dialog" aria-labelledby="reset__diary--label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reset__diary--label">Reset Diary</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            BEWARE: THIS IS IRREVERSIBLE!
            Your timelines will be erased and all records will be lost.
            Are you sure you want to proceed?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-block btn" data-dismiss="modal">No, I changed my mind - close</button>
            <button type="button" class="btn-block btn">Yes, I want to delete my records</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time__search text-center mb-5">
    <p class="title search__title">Looking for something back in time?</p>
    <%= form_tag profile_path, method: :get do %>
      <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control",
        placeholder: "Select a Date",
        class: "my-2"
      %>
      <br>
      <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control",
        placeholder: "Select a Date",
        class: "my-2"
      %>
      <%= select_tag :type, options_for_select(["Meals", "Movements", "Meals & Movements"])%>
      <br>
      <br>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="timeline mb-5">
    <div class="timeline-header">
      Your timeline
    </div>

      <% @sorted.reverse.each do |sort| %>
        <% if sort.in?(@meals) %>
          <p>
            <%= "#{sort.created_at.strftime('%a %d %b %H:%M')}" %>
            <br>
            <%= link_to "/meals/#{@meal.id}" do %>
                <%= image_tag 'https://i.imgur.com/27SpbKk.png', class: "dashboards_movement_img" %>
            <% end %>
          </p>
        <% else %>
          <p>
            <%= "#{sort.created_at.strftime('%a %d %b %H:%M')}" %>
            <br>
            <%= link_to "/movements/#{@movement.id}" do %>
                <%= image_tag @movement.img_url, class: "dashboards_movement_img" %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    <div class="timeline-footer">
      See you next time!
    </div>
    <br>
    <br>
  </div>

</div>
