<div class='container'>
<h1>Welcome : <%= current_user.name%></h1>
  <%= cl_image_tag current_user.photo.key,class:"profile_image", width: 240, height: 400, crop: :fill if current_user.photo.attached? %>
  <div class="row">
    <div class="col-sm-6">
      <h2>Last Movement</h2>
        <% if @movement.nil? %>
        <h3 class="mt-5 mb-5">No movement recorded</h3>
        <%else%>
          <ul class="ul-style">
            <li>Feeling: <%=@movement.feeling%></li>
            <li>Effort: <%=@movement.effort%></li>
            <li>Duration: <%=@movement.duration%></li>
            <li>Shape: <%=@movement.shape%></li>
            <li>Color: <%=@movement.color%></li>
            <li>Smell: <%=@movement.smell%></li>
            <li>Comments: <%=@movement.comments%></li>
          </ul>
        <%end%>
  </div>
</div>
<div class="row">
  <div>
    <h2>Last Meal</h2>
    <% if @meal.nil? %>
      <h3 class="mt-5 mb-5">No meal recorded</h3>
      <%else%>
        <ul class="ul-style">
          <li>Description: <%=@meal.description%></li>
        </ul>
      <%end%>
  </div>
</div>
</div>




