<div class="container">
  <br>
  <div class="text-center my-3">
    <%= form_tag meals_path, method: :get do %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "search", class: "btn btn-secondary" %>
    <% end %>
  </div>
  
  <div class="row text-center justify-content-center my-3">
    <div class="col-8">
     <h2 class="title index-quote">Meals Follow-up</h1>
    </div>
  </div>

  <div class="timeline mb-5">
    <div class="timeline-header">Your timeline</div>
    <% @meals.reverse.each_with_index do |meal, index| %>
      <p class="<%= index.odd? ? 'odd' : 'even' %>" >    
        <%= "#{meal.created_at}" %>
        <br>
        <%= link_to "/meals/#{meal.id}" do %>
            <%= image_tag 'https://i.imgur.com/27SpbKk.png', class: "dashboards_movement_img" %>
        <% end %>   
      </p>    
    <% end %>
    <div class="timeline-footer">See you next time!</div>
    <br>
    <br>
  </div>

</div>

